<%= render "public/public"%>

<% @designs.each do |design| %>
<%= image_tag  "#{design.contact_back_image.url}",class: "backgroud-image" %>
<% end %>

<main>
  <div class="header_fake">
  </div>
  <div class="main_container">
    <div class="sab_container">
      <div class="title">
        <h1>CONTACT</h1>
      </div>
      <div class="user_information">
        <h2>Email :<a href="mailto:<%= @user.email %>"><%= @user.email %></a></h2>
      </div>
      <div class="contact_form">
        <%= form_with model:[@user, @customer] do |form| %>
          <p>if you aren't in a hurry, please give me some messages according this format. that helps a lot thanks!</p>
          <%= form.text_field :name, placeholder: "name", id: "name" ,class: "detail"%>
          <%= form.email_field :email, placeholder: "email", id: "email", class: "detail"%>
          <%= form.text_area :body, placeholder: "text" , rows: "10", id: "body", class: "detail" %>
          <%= hidden_field_tag :user_id, @customer.user_id %>
          <%= form.submit "SEND" %>
        <% end %>
      </div>
    </div>
  </div>
</main>

<footer>
    <div>
      <p class="copyright">© <%= @user.name %>Photographer Co., Ltd. -Prohibited using all pictures without pemittion</p>
      <p>portfolio_created by eiki.</p>
    </div>
</footer>

<%= javascript_include_tag 'public/customers.js', 'data-turbolinks-track': 'reload' %>
