<% content_for :css do %>
  <%= stylesheet_link_tag 'admin/movie_categories', media: "all", "data-turbolinks-track": "reload" %>
  <%= stylesheet_link_tag 'admin', media: 'all','data-turbolinks-track': 'reload' %>
<% end %>

<div class = "wrapper">
  <div class="main">
    <div class="container">
      <%= form_with model:[:admin, @user, @movie_category], local: true, html: { multipart: true, class: "new_item"} do |form| %>
        <%= render partial: "form", locals: {form: form} %>
        <%= form.submit "COMMIT", class: "submit"%>
      <% end %>
    </div>
  </div>
  <%= render partial: "admin/admin"%>
</div>

<%= javascript_include_tag 'admin/movie_categories.js'%>