<%= form.label :image, class: "fa.fa-image" do%>
<h1>top_back_image</h1>
<%= form.file_field :top_back_image, placeholder: "top_back_image", id: "top_back_image" %>
<h1>gallery_back_imge</h1>
<%= form.file_field :gallery_back_imge, placeholder: "gallery_back_imge", id: "gallery_back_imge" %>
<h1>contact_back_image</h1>
<%= form.file_field :contact_back_image, placeholder: "contact_back_image", id: "contact_back_image" %>
<h1>profile_back_image</h1>
<%= form.file_field :profile_back_image, placeholder: "profile_back_image", id: "profile_back_image" %>
<%= form.submit "SEND" %>
<% end %>