<%= render "admin/admin"%>
<div>
  <%= image_tag  "#{@profile.user_image.url}" %>
</div>

<%= form_with model:[:admin, @user, @profile] do |form| %>

  <%= form.text_field :user_comment, placeholder: "one prase" %>
  <%= form.label :user_con, class: "fa.fa-image"%>
  <%= form.file_field :user_image %>
  <%= form.submit "SEND" %>
<% end %>