<%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class = "admin_side">
  <div class = "side_header">
  </div>

  <div class = "pages">
    <%= link_to "admin_setting", root_path%>
    <%= link_to "admin_top(all_back_ground_setting)", admin_user_designs_path%>
    <%= link_to "admin_gallery", admin_user_gallery_categories_path%>
    <%= link_to "admin_movies", new_admin_user_movie_category_path%>
    <%= link_to "admin_contact", admin_user_customers_path%>
    <%= link_to "admin_profile", edit_admin_user_profile_path(current_user, current_user)%>
    <%= link_to "public", user_designs_path%>
  </div>

</div>