<div class = "admin_side">
  <h1>ADS</h1>
  <div class = "menu">
    <div class="title">MENU</div>
    <ul class="nav">
      <li>
        <%= link_to "design_setting", new_admin_user_design_path(current_user)%>
      </li>
      <li>
        <%= link_to "gallery_setting",new_admin_user_gallery_category_path(current_user)%>
      </li>
      <li>
        <%= link_to "movie_setting",new_admin_user_movie_category_path(current_user)%>
      </li>
      <li>
        <%= link_to "contact setting", admin_user_customers_path%>
      </li>
      <li>
        <%= link_to "profile setting", edit_admin_user_profile_path(current_user, current_user)%>
      </li>
      <li>
        <%= link_to "Accont setting", edit_user_path(current_user)%>
      </li>
      <li>
        <%= link_to "public", user_designs_path%>
      </li>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
  
</div>