<%= render "public/public"%>

<% @designs.each do |design| %>
  <%= image_tag  "#{design.profile_back_image.url}",class: "backgroud-image" %>
<% end %>

<div class="wrapper">
  <% @profiles.each do |profile| %>
    <%= image_tag  "#{profile.user_image.url}", class: "backgroud-image" %>
  <% end %>
</div>

<main>
  <div class="header_fake">
  </div>
</main>


<footer>
    <div>
      <p class="copyright">© <%= @user.name %>Photographer Co., Ltd. -Prohibited using all pictures without pemittion</p>
      <p>portfolio_created by eiki.</p>
    </div>
</footer>

<%= javascript_include_tag 'public/profiles.js', 'data-turbolinks-track': 'reload' %>
