<% content_for :css do %>
  <%= stylesheet_link_tag 'admin/instagram', media: 'all','data-turbolinks-track': 'reload' %>
<% end %>

全てのユーザーのタイムライン表示ページ
<div class="side-bar">
   <div class="header">
    <div class="InstagramAPI">Instagramの投稿画像をGalleryに連携する</div>
  <div>
<div>  
<%=link_to "My admin", new_admin_user_design_path(current_user)%>

<%=render partial: "admin/popup"%>

<%= include_gon %>
<%= javascript_include_tag 'admin/popup.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/instagram.js', 'data-turbolinks-track': 'reload' %>