<%= render "public/public"%>
<% content_for :css do %>
  <%= stylesheet_link_tag 'public/gallery_categories' %>
<% end %>

<main>
  <%= image_tag  src = "", class: "top-backgroud-image", id: "main" %>
  <nav>
    <ul>
      <li id="play">Play</li>
      <li id="prev" >&lt;</li>
      <li id="next">&gt;</li>
      <%# just for slideshow_next deleted by css from front %>
      <li id="slidenext">&gt;</li>
    </ul>
  </nav>
  <ul id ="thumbnails">
  </ul>

  <div id ="gallery_categories">
    <ul id ="categories" >
    </ul>
  </div>
</main>

<footer>
  <div>
    <p class="copyright">© <%= @user.name %>Photographer Co., Ltd. -Prohibited using all pictures without pemittion</p>
    <p>portfolio_created by eiki.</p>
  </div>
</footer>

<%= javascript_include_tag 'public/gallery_categories.js', 'data-turbolinks-track': 'reload' %>