<% content_for :css do %>
  <%= stylesheet_link_tag 'admin/gallery_categories' %>
<% end %>

<div class = "wrapper">
  <%= render partial: "admin/admin"%>
  <div class="main">
    <div class="container">
      <%= form_with model:[:admin, @user, @gallery_category], local: true, html: { multipart: true, class: "new_item"} do |form| %>

        <div id ="gallery">

          <div class="category" data-index="0">
            <div class = "category__name" data-index="0">
              <label> 
                <input type="text" class="category__name__text" name="gallery_categories[name][]">
              </label>
            </div>
            
            <div class = "upload-container">
              <div class = "image-box" >
                <div class="js-file_group">
                  <label data-index="0" class="image-upload">
                    <input type="file" class="js-file" multiple="multiple" style="visibility: hidden">
                  </label>
                </div>
              </div>
            </div>

          </div>
          <button type="button", id="category_plus">ボタン</button>
        
        </div>
        <%= form.submit "SEND"%>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'admin/gallery_categories.js'%>
