<% content_for :css do %>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <%= stylesheet_link_tag 'admin/gallery_categories', media: "all", "data-turbolinks-track": "reload"%>
  <%= stylesheet_link_tag 'admin/croppie',  media: 'all', 'data-turbolinks-track': 'reload'%>
  <%= stylesheet_link_tag 'admin', media: 'all','data-turbolinks-track': 'reload' %>
<% end %>

<div class = "wrapper">
  <div class="main">
    <div class="container">
      <%= render partial: "limitation"%>
      <%= link_to "Instagramの投稿画像を使用する", "https://api.instagram.com/oauth/authorize?client_id=1055133514921533&redirect_uri=https://mylifefolio.com/&scope=user_profile,user_media&response_type=code" %>
      <div id="instagram-list"></div>
      <%= form_with model:[:admin, @user, @gallery_category], local: true, html: { multipart: true, class: "new_item"} do |form| %>
        <%= render partial: "form", locals: {form: form} %>
        <%= form.submit "COMMIT", class: "submit"%>
      <% end %>
    </div>
  </div>
  <%= render partial: "admin/admin"%>
</div>

<%=render partial: "admin/popup"%>

<%= javascript_include_tag 'admin/popup.js'%>
<%= javascript_include_tag 'admin/gallery_categories.js'%>
<%= javascript_include_tag 'admin/croppie.js'%>